* {
    margin: 0;
    padding: 0;
    font-family: "ubuntu";
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: transparent;
    color: black;
  }
  #header{
    display: flex;
    background-color: white;
    justify-content: space-around;  
    height: 10vh;
    position: sticky;
    transition: 1s;
      
  }
  
  /*========= Flex Header =========*/
  .header-kanan{
    flex-basis: 70%;
    
    padding-top: 15px;
  }
  .header-kiri{
    flex-basis: 30%;
    text-align: center;
  }
  /*========= Flex Header =========*/
  
  /*====== Logo Posisi ======*/
  .logo {
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }
  /*====== Logo Posisi ======*/
  
  /*============== NAVIGATOR=========*/
  #on{
    color: black;
    transition: 0.5s;
  }
  #on::after{
    content: " ";
    width: 100%;
    height: 4px;
    background: rgb(0, 0, 0);
    position: absolute;
    left: 0px;
    bottom: -27px;
  }
  nav {
    display: flex;
    justify-content: space-around;
  }
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
  }
  nav ul i {
    color: rgb(0, 0, 0);
    margin: 10px;
    margin-left: 20px;
  }
  nav ul li a {
    color: rgb(182, 138, 43);
    font-size: 17px;
    position: relative;
    text-decoration: none;
    font-weight: bold;
  }
  nav ul li a::after {
    content: " ";
    width: 0;
    height: 4px;
    background: rgb(182, 138, 43);
    position: absolute;
    left: 0px;
    bottom: -27px;
    transition: 0.5s;
  }
  nav ul li a:hover::after {
    width: 100%;
  }
  
  .header-kanan i{
    display: none;
  }
  /*============== NAVIGATOR=========*/
  .logo {
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }
  /*=========== SECTION 1 ============*/
  #section1{
    height: 90vh;
  }  
  /*=========== SECTION 1 ============*/


  /*================= SECTION GABUNGAN==========================================*/
  #section1, #section2{ /*=========== Jarakk=========== */
    display: flex;
    justify-content: space-around;
  }

  #section1 .section1-kiri, #section2 .section2-kanan{ /*========= Supaya Ngefit Dalam Kotak ga keluar ========*/    
    overflow: hidden ;
  }
  .section2-kanan,.section2-kiri,.section1-kanan,.section1-kiri{
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(255, 255, 255);
    width: 45%;
    height: 70%;
    justify-content: center;    
    align-items: center;
    border-radius: 25px;
    
  }  
  .section2-kiri img,.section1-kanan img{  
    border-radius: 25px;
    width: 100%;
    height: fit-content;
    }
  .section1-kiri, .section2-kanan h1{
    padding-left: 50px;
    color: rgb(219, 141, 40);
  }
  .section1-kiri, .section2-kanan h2{
    padding-left: 50px;
    color: rgb(219, 141, 40);
  }
    /*================= SECTION GABUNGAN==========================================*/

    

  /*=========== SECTION 2 ============*/
  #section2{
    height: 50vh;
  } 
  /*=========== SECTION 2 ============*/



  /*------------------- Footers -------------------8*/
  #footers {
    padding-top: 5%;
    color: white;
  }
  .maps-container {
    display: flex;
    justify-content: space-around;
    height: 55vh;
    background-color: rgb(188, 158, 93);
  }
  .map-kiri,
  .map-kanan {
    flex-basis: 45%;
    border: 2px 2px;
    margin-top: 50px;
    max-width: auto;
  }
  .maps-container p {
    font-family: "ubuntu";
    font-weight: bold;
    text-align: center;
  }
  .maps-container a {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
    padding-bottom: 20px;
  }
  .map-kiri p {
    font-size: 30px;
  }
  .map-kiri i {
    color: white;
  }
  .icons-footer {
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    gap: 60px;
    justify-content: center;
  }
  .icons-footer a {
    font-size: 30px;
    text-decoration: none;
    margin-right: 15px;
    color: rgb(0, 0, 0);
  }
  .tokopedia {
    display: flex;
    justify-content: center;
    height: 10.5vh;
    padding-top: 10px;
    margin-top: 15px;
  }
  .tokopedia img {
    height: 60px;
    width: 60;
    text-align: center;
    background-color: rgb(255, 247, 229);
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
  }
  #footers h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(168, 135, 66);
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #footers h1   {
    color: rgb(255, 255, 255);
    background-color: rgb(168, 135, 66);
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #footers pp {
    display: none;
    color: black;
  }
  #footers h1   {
    font-size: 14px;
  }
  /*------------------- Footers -------------------8*/
  
  






  /*================ Media Phone =============*/
  @media only screen and (max-width: 600px) {
    #header{
      height: 12vh;
    }
    nav ul li{
      display:none ;
    }
    .header-kanan i{
      display: block;
      padding-top: 8px;
      font-size: 25px;
    }
    .header-kanan nav a{
      color: rgb(168, 135, 66);
    }
    #section1, #section2{
      display: grid;
      
      padding-left: 30px;
      padding-right: 30px;
    }
    
    .section2-kiri, .section2-kanan,.section1-kanan,.section1-kiri{
      width: 100%;
    }
    h1{
      font-size: 15px;
      font-weight: bold;
    }
    h2{
      font-size: 10px;
    }
    #section2{
      padding-bottom: 30px;
    }
    nav i{
      cursor: pointer;
    }
    .section2-kanan{
      height: 10vh;
    }
    #section2{
      margin-bottom: 20px;
    }
    
    .layer-form{
      padding-left: 20px;
    }
    .maps-container{
      margin-top: 20px;
      display: grid;
      height: 120vh;
    }
    iframe{
      width: auto;
    }  
  }

   /*===============sticky header==============*/
  .content {
    padding: 16px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  .sticky + .content {
    padding-top: 102px;
  }
  #header.active {
    transition: 0.8s;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);     
  }
  /*===============sticky header==============*/